/****************************************************
*
* All elements that starts with "demo_theme_" is elements
* included by this theme.
*
* Use $imagePath/ to link to images located in the images/ folder
*
* style.css is a required stylesheet.
*
****************************************************/

/**
 * Background
 */
#demo_theme_background_banner {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  background: url($imagePath/wikirefinery.png);
  background-size: cover;
  z-index: -1;
}

body {
  background: #ededed;
}

/**
 * Login
 */
body.login #rw_main {
  background: url($imagePath/wikirefinery.png);
  background-size: cover;
}



