/* Background banner and shadow */ 
#demo_theme_banner
{
    background:#1199d2;
    box-shadow: 0 0 25px #085f84 inset;
    -moz-box-shadow: 0 0 25px #085f84 inset;
    -webkit-box-shadow: 0 0 25px #085f84 inset;
}

/* Menu text color */
#rw_category_menu li a
{
    color:#b7e2f5;
}
